<nav class="navbar px-5 navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="javascript:void(0)"><h3>LOGO</h3></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item text-secondary">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item text-secondary">
          <a class="nav-link" href="javascript:void(0)">Blog</a>
        </li>
        <li class="nav-item text-secondary">
          <a class="nav-link" href="javascript:void(0)">Profile</a>
        </li>
      </ul>
      <form action="{% url 'home' %}" method="get" class="d-flex">
        <input
          class="form-control me-2"
          type="text"
          name="q"
          placeholder="Search Posts... "
        />
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

