{% extends 'main.html' %}


{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
        <div>    
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
        <div>    
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}
    </div>
    <div>
        <h5>{{post_count}} posts available</h5>
        <a href="{% url 'create-post' %}">Create Post</a>
        <div>
            {% for post in posts %}
            <div>
                <hr>
                <a href="{% url 'update-post' post.id %}">Edit</a>
                <a href="{% url 'delete-post' post.id %}">Delete</a>
                <p>
                    @{{ post.host.username }}
                </p>
                <h2>{{post.id}} -- <a href="{% url 'post' post.id %}">{{post.title}}</a></h2>
                <small>
                    {{post.topic.name}}
                </small>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock content %}